<main>

  <header>
    <h3>Carlos Medina Carranza</h3>
    <br>
    <h5>
      <span>
        Ingeniero de Sistemas
      </span>
    </h5>
  </header>
  <section class="container">
    <div class="row">
      <div class="col-4 personal">
        <div class="imagen">
          <img alt="" class="foto rounded-circle" src="assets/images/foto.jpg" width="100">
        </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col-8 profesional">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

    </div>
  </section>

</main>